//colors
$pallete: (
  blue: (
    darker: #061a1b,
    dark: #264653,
    light: #2a9d8f,
    lighter: #a5afd7,
  ),
  orange: (
    lighter: #eae2b7,
    light: #e9c46a,
    dark: #f4a261,
    darker: #e76f51,
  ),
);

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//m-size
